* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body {
    font: 13px Helvetica, Arial;
    background-color: gainsboro;
}

form#chatForm { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form#chatForm input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form#chatForm button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages li { padding: 5px 10px; line-height: 1rem; }
#messages li:nth-child(odd) { background: #ddd; }

#header { margin: 1rem auto; text-align: center}

#main { 
    /* display: none; */
}

#online {
    position: fixed;
    left: 0;
    width: 6rem;
    border-right: 1px solid black;
    margin-left: 1rem;
}

#online h3 {padding-bottom: 1rem;}
#online ul { list-style-type: none;}

#messagesDiv {
    margin-left: 7rem;
    float: left;
}

#messages {
    width: 100%;
    list-style-type: none;
    margin: 0;
    margin-bottom: 2.5rem;
    padding: 0;
    background-color: 'tan'
}

#games { min-width: 6rem; text-align: center; margin-right: 1rem;
    position: fixed;
    right: 0;
}
#games-ul {list-style-type: none;}
#games-ul li {padding: .25rem;}
#games-ul button {padding: .75rem;}

.message-time {
    float: right;
    padding-right: 2rem;
    color: #555;
}

#wrapper{
    position: relative;
    width: 100%;
    height: 500px;
}
#name-screen {
    position: absolute;
    margin: 0 auto;
    text-align: center;
    width: 10rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#name-screen form > * {
    margin: .5rem;
    padding: .5rem;
}

.anouncement {
    display: inline-block;
    width: 100%;
    background-color: lightskyblue !important; 
}

.anouncement-user {
    color: darkslategray;
    background-color: greenyellow;
}

.spaceContent > * {
    padding: .3rem .1rem;
}

.dn {
    display: none;
}