* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body {
    font: 13px Helvetica, Arial;
    background-color: gainsboro;
}

form#chatForm { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form#chatForm input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form#chatForm button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0; background-color: 'tan'}
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
#name-screen { text-align: center; margin-top: 40%;}
#chat-screen { display: none;}

.anouncement {
    display: inline-block;
    width: 100%;
    background-color: lightskyblue !important; 
}

.anouncement-user {
    color: darkslategray;
    background-color: greenyellow;
}